### This is markdown

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/data_jobs.csv')

In [4]:

df = df.head()

In [5]:
print(df)

        job_title_short                                          job_title  \
0  Senior Data Engineer  Senior Clinical Data Engineer / Principal Clin...
1          Data Analyst                                       Data Analyst
2         Data Engineer  Data Engineer/Scientist/Analyst, Mid or Senior...
3         Data Engineer  LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4         Data Engineer                             Data Engineer- Sr Jobs

                   job_location             job_via job_schedule_type  \
0                 Watertown, CT     via Work Nearby         Full-time
1  Guadalajara, Jalisco, Mexico    via BeBee MÃ©xico         Full-time
2               Berlin, Germany        via LinkedIn         Full-time
3               San Antonio, TX   via Diversity.com         Full-time
4                Washington, DC  via Clearance Jobs         Full-time

   job_work_from_home       search_location      job_posted_date  \
0               False  Texas, United States  2023-06-16 13:44:15
1               False                Mexico  2023-01-14 13:18:07
2               False               Germany  2023-10-10 13:14:55
3               False  Texas, United States  2023-07-04 13:01:41
4               False                 Sudan  2023-08-07 14:29:36

   job_no_degree_mention  job_health_insurance    job_country salary_rate  \
0                  False                 False  United States         NaN
1                  False                 False         Mexico         NaN
2                  False                 False        Germany         NaN
3                   True                 False  United States         NaN
4                  False                 False          Sudan         NaN

   salary_year_avg  salary_hour_avg                  company_name  \
0              NaN              NaN          Boehringer Ingelheim
1              NaN              NaN    Hewlett Packard Enterprise
2              NaN              NaN      ALPHA Augmented Services
3              NaN              NaN  Southwest Research Institute
4              NaN              NaN               Kristina Daniel

                                          job_skills  \
0                                                NaN
1  ['r', 'python', 'sql', 'nosql', 'power bi', 't...
2  ['python', 'sql', 'c#', 'azure', 'airflow', 'd...
3  ['python', 'c++', 'java', 'matlab', 'aws', 'te...
4  ['bash', 'python', 'oracle', 'aws', 'ansible',...

                                     job_type_skills
0                                                NaN
1  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        5 non-null      object
 1   job_title              5 non-null      object
 2   job_location           5 non-null      object
 3   job_via                5 non-null      object
 4   job_schedule_type      5 non-null      object
 5   job_work_from_home     5 non-null      bool
 6   search_location        5 non-null      object
 7   job_posted_date        5 non-null      object
 8   job_no_degree_mention  5 non-null      bool
 9   job_health_insurance   5 non-null      bool
 10  job_country            5 non-null      object
 11  salary_rate            0 non-null      object
 12  salary_year_avg        0 non-null      float64
 13  salary_hour_avg        0 non-null      float64
 14  company_name           5 non-null      object
 15  job_skills             4 non-null      object
 16  job_type_skills        4 non-null      object
dtypes: bool(3), float64(2), object(12)
memory usage: 707.0+ bytes

In [10]:
num_rows = df.shape[0]
print(f'Number of rows: {num_rows}')

Number of rows: 5

In [11]:
print(df.columns)

Index(['job_title_short', 'job_title', 'job_location', 'job_via',
       'job_schedule_type', 'job_work_from_home', 'search_location',
       'job_posted_date', 'job_no_degree_mention', 'job_health_insurance',
       'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg',
       'company_name', 'job_skills', 'job_type_skills'],
      dtype='object')

In [12]:
column_list = df.columns.tolist()
print(column_list)

['job_title_short', 'job_title', 'job_location', 'job_via', 'job_schedule_type', 'job_work_from_home', 'search_location', 'job_posted_date', 'job_no_degree_mention', 'job_health_insurance', 'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg', 'company_name', 'job_skills', 'job_type_skills']